a.social {
  --bg-img: "";
  background-image: var(--bg-img);
  width: 1.5rem;
  height: 1.5rem;
  display: block;

  -webkit-background-clip: initial;
  background-clip: initial;

  &[aria-label="tiktok"] {
    --bg-img: url("../icons/tiktok.svg");

    &:hover {
      --bg-img: url("../icons/tiktok-houver.svg");
    }
  }
  &[aria-label="instagram"] {
    --bg-img: url("../icons/instagram.svg");

    &:hover {
      --bg-img: url("../icons/instagran-houver.svg");
    }
  }
  &[aria-label="twitter"] {
    --bg-img: url("../icons/twitter.svg");

    &:hover {
      --bg-img: url("../icons/twitter-houver.svg");
    }
  }
  &[aria-label="discord"] {
    --bg-img: url("../icons/discord.svg");

    &:hover {
      --bg-img: url("../icons/discord-houver.svg");
    }
  }
}
